@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-font{
    font-family: "Prata", serif;
}

@media (max-width:640px){
    a.active{
        background-color: black;
        color: white;
    }
}